.footer{
	position: absolute;
	bottom:0px;
	width: 100%;
}
#addButtonDiv,#placeOrderDiv{
	padding-top: 5px;
}

#addItemButton {
	background-color: #3498db;
	margin: auto;
}
#placeOrderButton{
	margin: auto;
	background-color: #2ecc71;
}