.footer{
	
	width: 100%;
}
#addButtonDiv,#placeOrderDiv{
	padding-top: 5px;
}

#addItemButton {
	background-color: #3498db;
	margin: auto;
}
#placeOrderButton{
	margin: auto;
	background-color: #2ecc71;
}
#leftBar{
	padding-top: 5vh;
	background-color: #2ecc71;
	
	min-height: 86vh;
	padding-left: 0px;
	padding-right: 0px;

}
.navbar{
	height: 7vh;
	margin-bottom: 0px !important;
}
#mainContainer {
	padding-top: 3vh;
	padding-bottom: 7vh;
}
.leftLink{
	font-size: 3vh;
	margin: 0px;
	padding: 5px;
}
.leftLink:hover{
	text-decoration: none;
	background-color: #F5F5F5;
}